.wrap_loader {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  z-index: 3;
  position: fixed;
  top: 20px;
  left: 54%;
  transform: translateX(-50%);

  @media screen and (max-width: 540px) {
    top: 75px;
  }
}

.loader svg {
  fill: #0051ff;
  height: 150px;
  width: 150px;
}
