.registration_header {
  text-align: center;
}

.wrapper {
  margin-top: 100px;
  width: 350px;
  box-shadow: rgba(58, 61, 64, 0.372) 0px 10px 20px 10px;
  margin: 100 auto 0;
  padding: 20px;
  border-radius: 20px;
}
